.buttonStyle {
  color: white;
  background-color: #0066ff;
  border: none;
  padding: 5px 15px;
  border-radius: 0px;
  font-size: 20px;
}

.centerPage {
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.picPosition {
  position: absolute;
  padding-top: 10px;
  padding-right: 20px;
  right: 0px;
}

.newsSearch{
  height: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: yellow;
}

.scrap2 {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 25px;
  color: white;
  text-align: center;
}

/* .spaceBetweenDiv {
  display: flex;
  justify-content: space-between;
} */

.userPageInfoDark{
  /* height: 10rem; */
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 15px;
  font-size: 20px;
}

.userMobilePageInfoDark{
  /* height: 10rem; */
  text-align: center;
  width: 20rem;
  background-color: black;
  color: white;
  padding-top: 10px;
  padding-bottom: 15px;
  padding-right: 10px;
  padding-left: 10px;
  font-size: 16px;
  margin-left: auto;
  margin-right: auto;
}

.spaceBetweenDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: center; */
  /* justify-content: space-between; */
  justify-content: space-around;
  align-items: center;
  /* border: solid; */
}

.vertAlign {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.vertAlign2 {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.vertAlign3 {
  height: 12rem;
  background-color: black;
}

#scrap {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 75px;
  color: white;
  text-align: center;
}

#topic {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 25px;
}

.buttonGray:hover {background-color: #e7e7e7;}

@media only screen and (max-width: 860px) {
  #scrap {
    padding-top: 25px;
    font-size: 60px;
  }
  .scrap2{
    font-size: 20px;
  }
}

@media only screen and (max-width: 740px) {
  #scrap {
    padding-top: 55px;
    font-size: 35px;
  }
  .scrap2{
    font-size: 20px;
  }
  .vertAlign3 {
    height: 10rem;
  }
  .newsSearch {
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: yellow; 
  }
}