.defaultImage {
  border-radius: 50px;
  width: 65px;
  height: 65px;
}

@media only screen and (max-width: 860px) {
  .defaultImage {
    height: 50px;
    width: auto;
  }
}

@media only screen and (max-width: 740px) {
  .defaultImage {
    height: 35px;
    width: auto;
  }
}