.imageContainer {
  width: 100%;
  height: auto;
}

.centerPage {
  height: 45rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayCenter{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.scrap2 {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 25px;
  color: white;
  text-align: center;
}

.spaceBetweenDiv {
  display: flex;
  justify-content: space-between;
}

.userPageInfoDark{
  height: 15rem;
  background-color: black;
  color: white;
  font-size: 22px;
}

.spaceBetweenDiv{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* justify-content: space-around; */
  align-items: center;
}

.vertAlign {
  height: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.vertAlign3 {
  height: 15rem;
  background-color: black;
}

.picPosition {
  position: absolute;
  padding-top: 10px;
  padding-right: 20px;
  right: 0px;
}

.vertAlign2 {
  height: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.padding-0{
  padding-right:0;
  padding-left:0;
}

#jumboBox {
  background-color: black;
}

#scrap {
  font-family: 'ZCOOL XiaoWei', serif;
  font-size: 100px;
  color: white;
  text-align: center;
}

.buttonGray:hover {background-color: #e7e7e7;}